{% extends 'base.html' %}

{% block content %}

<div class="card-columns">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <div class="card-header bg-primary text-white">TOTAL BUDGET </div>
      <div class="card-body text-primary">
        <h1 class="card-title">{{ total_budget }} CHF</h1>
      </div>
    </div>
    <div class="card border-success mb-3" style="max-width: 18rem;">
      <div class="card-header bg-success text-white">BUDGET LEFT THIS MONTH</div>
      <div class="card-body text-success">
        <h1 class="card-title">{{ transactions }} CHF</h1>
      </div>
    </div>
</div>



  <div id="container" style="width: 100%;">
    <canvas id="budget_pie_chart"></canvas>
  </div>



  <script>

    var config = {
      type: 'bar',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
            '#ff0000', '#fffc00', '#00ac27', '#ffdd00', '#D3D3D3', '#FFD700FF'
          ],
          label: 'Budget'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var chartdata = document.getElementById('budget_pie_chart').getContext('2d');
      window.myPie = new Chart(chartdata, config);
    };

  </script>




{% endblock %}