{% extends 'base.html' %}

{% block content %}
    <a href="/transaction/add" class="btn btn-primary active" role="button" aria-pressed="true">Add Expense</a>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Amount</th>
                <th scope="col">User</th>
                <th scope="col">Family</th>
                <th scope="col" class="text-right">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in object_list %}
                <tr>
                    <td>{{ transaction.created_date | date:"Y-m-d" }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.user }}</td>
                    <td>{{ transaction.family }}</td>
                    <td class="text-right">
                        <a href="{{ transaction.id  }}/edit">
                            <i class="far fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{{ transaction.id  }}/delete">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}
