{% extends 'base.html' %}

{% block content %}
    <a href="/transaction/add" class="btn btn-primary active" role="button" aria-pressed="true">Add Expense</a>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Amount</th>
                <th scope="col">User</th>
                <th scope="col">Family</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in object_list %}
                <tr>
                    <td>{{ transaction.created_date | date:"Y-m-d" }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.user }}</td>
                    <td>{{ transaction.family }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}
